<h1>Posts App</h1>
<p>
  This is the home page for the Posts App.
</p>


<div class="center jumbotron">
  <h1>Welcome to the Posts App</h1>

  <h2>
    This is the home page for the Posts App.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>